*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body 
{
    background: radial-gradient(circle at top, #2a2a2a, #000000);
    color: #ffffff;
    font-family: '';
}

.navbar 
{
    background: transparent;
}

.navbar-toggler {
    border: 1px solid #b7ff00;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.brand 
{
    color: #b7ff00;
    font-size:30px;
    font-weight: 800;
    letter-spacing: 1px;
}

.arrow-icon{
    color: #b7ff00;
    font-size:30px; 
    font-weight: 800;
}

.nav-link {
    color: #b7ff00;
    font-size: 17px;
}

.btn-neon 
{
    background: #b7ff00;
    color: #000;
    font-weight: 600;
    border-radius: 6px;
    font-size: 17px;
}

.btn-outline-neon 
{
    border: 2px solid #b7ff00;
    color: #b7ff00;
    font-weight: 600;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #ffffff !important;
}

.navbar .btn-outline-neon:hover {
    color: white !important;
    border-color: #ffffff;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #b7ff00 !important;
    text-decoration: none;
}
